*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameboard{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}

.frame{
    background-color: rgb(32, 211, 32);
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.scorebar{
    height: 10%;
    width: 95%;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.scorebar div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.tagname{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.tagvalue{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    background-color:bisque;
    width: max-content;
    min-width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    padding: 10px;
    color: black;
}

.playboard{
    background-color: antiquewhite;
    height: 85%;
    width: 95%;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubbles{
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 100%;
}

.bubble{
    background-color: rgb(32, 211, 32);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 25px;
    font-weight: 600;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.overtag{
    font-size: 40px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.info{
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around ;
    align-items: center;
}
.highscore{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

#replay{
    background-color: brown;
    width: 70px;
    height:25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}
